# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
palindrome
stack
linked-list
fibonacci
grandchild


# http://www.gnu.org/software/automake
Makefile.in
Makefile
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.h
/config.log
/config.status
/config.sub
/configure
/configure.scan
.deps
/depcomp
/install-sh
/missing
/stamp-h1
